.benefits {
  background-image: url("../img/benefits-desktop.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;

  @media (max-width: $vp-1024) {
    background-image: url("../img/benefits-tablet.jpg");
  }

  @media (max-width: $vp-768) {
    background-image: url("../img/benefits-mobile.jpg");
  }
}

.benefits__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 110px 103px 100px;

  @media (max-width: $vp-1024) {
    padding: 100px 45px;
  }

  @media (max-width: $vp-768) {
    padding: 65px 15px;
  }
}

.benefits__list {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;

  @media (max-width: $vp-1024) {
    gap: 30px;
  }

  @media (max-width: $vp-768) {
    margin-top: 40px;
    grid-template-columns: repeat(1, auto);
  }
}

.benefits__item {
  padding: 30px 26px;
  padding-bottom: 45px;
  background: #f9fbfd;

  @media (max-width: $vp-1024) {
    padding: 25px 20px;
  }
}

.benefits__item-title {
  margin-top: 5px;
}

.benefits__text {
  @include fonts(400, 14px, 20px);
  margin: 0;
  margin-top: 10px;
}
